mixin tourItem(image,price,title,review,reviewCount,duration,durationPrice)
    .tour
        .tour-top
                img.tour-image(src= image, alt='img1')
                span.tour-price= price
        .tour-content
                h3.tour-title= title
                .tour-rating
                    .tour-review
                        img.tour-star(src= './images/star.png', alt='star')
                        span.tour-review-count= review
                        | (#{reviewCount} reviews)
                    span.tour-duration Duration: #{duration}
                a.tour-button(href='https://www.google.com.vn/?hl=vi', target='_blank', rel='noopener noreferrer') Tour Price #{durationPrice}
