mixin tourItem(image,price,title,review,reviewCount,duration,durationPrice)
    .tour
        .tour-top
                img.tour-image(src= image, alt='img1')
                span.tour-price= price
        .tour-content
                h3.tour-title= title
                .tour-rating
                    .tour-review
                        img.tour-star(src= './images/star.png', alt='star')
                        span.tour-review-count= review
                        | (#{reviewCount} reviews)
                    span.tour-duration Duration: #{duration}
                a.tour-button(href='https://www.google.com.vn/?hl=vi', target='_blank', rel='noopener noreferrer') Tour Price #{durationPrice}

mixin popular() 
    .popular-item
        .popular-image 
            img(src="https://images.unsplash.com/photo-1707344088547-3cf7cea5ca49?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="").popular-img
            span.popular-label Must See 
        .popular-content 
            time.popular-time Sep 28 10:00AM - 1:00 PM 
            h3.popular-title The Grand Palace 
            .popular-review 
                img(src="/images/star.png", alt="star").popular-star
                span 4.8 (12 reviews)
        
